.width50 {
  width: 50vw;
}

.table-margin {
  margin-top: 5%;
  margin-bottom: 5%;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.strict-width {
  width: 5vw;
  height: auto;
}

.margin-top {
  margin-top: 10vh;
}


.flex-grow-med {
  flex-grow: 0.5;
}

.flex {
  display: flex;
}

.Muibox-root {
  width: 0.3;
  height: auto;
}