.center-font {
  text-align: center;
  font-size: calc(10px + 2vmin);
  /* background-color: #06D6A0; */
}

h1 {
  font-size: 200px;
  margin-bottom: 10px;
}

.header {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
}

.home-height {
  min-height: 60vh;
}

.Home-color {
  /* background-color: #06D6A0; */
  background-color: #06a87d; 
}

.Home-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

#login-bt {
  /* background-color: #06a87d; */
  /* background-color: #1db954; */
  border: none;
  border-radius: 50px;
  height: 6vh;
  width: 200px;
  font-size: 0.5em;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 2vh, 3vh;
  font-weight: bold;
}


.divider {
  padding-top: 5vh;
  margin-left: 25%;
  margin-right: 25%;
}


/* Destination Page CSS */

.grid-container {
  display: grid;
  grid-template-areas: 100% / 1fr 1fr 1fr;
  justify-content: center;
  /* border: 4px solid wheat; */
  margin-top: 10%;
}

.grid-item {
  text-align: center;
  height: 1fr;
  width: 1fr;
  margin-top: 30%;
  margin-bottom: 30%;
}


@media (prefers-reduced-motion: no-preference) {
  #GenPL {
    background-color: #06D6A0;
    border: none;
    border-radius: 20px;
    height: 70px;
    width: 350px;
    letter-spacing: .15rem;
    color: white;
    font-size: 18px;
    font-family: Arial;
    cursor: pointer;
    animation: unhovAni 1 0.1s linear forwards;
  }
}

#GenPL:hover {
  animation: hovAni 1 0.1s linear forwards;
}

@keyframes hovAni {
  from {
    font-size: 18px;
  }
  to {
    font-size: 22px;
  }
}
@keyframes unhovAni {
  from {
    font-size: 22px;
  }
  to {
    font-size: 18px;
  }
}

