.center-font {
  /* text-align: center; */
  font-size: calc(10px + 2vmin);
  /* background-color: #06D6A0; */
}

h1 {
  font-size: 200px;
  margin-bottom: 10px;
}

.header {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
}

.home-height {
  min-height: 60vh;
}

.Home-color {
  /* background-color: #06D6A0; */
  background-color: #13bd90; 
}

.Home-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

#login-bt {
  /* background-color: #06a87d; */
  /* background-color: #1db954; */
  border: none;
  border-radius: 50px;
  height: 6vh;
  width: 200px;
  font-size: 0.5em;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 2vh, 3vh;
  font-weight: bold;
}


.divider {
  padding-top: 5vh;
  margin-left: 25%;
  margin-right: 25%;
}


/* Destination Page CSS */

.grid-container {
  display: grid;
  height: 80vmin;
  grid-template-areas: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 10vh;
  background-color: #13bd90;
  padding-top: 90px;
}

.grid-item {
  text-align: center;
  height: 1fr;
  width: 1fr;
}


/* generate.js */

.gen-h1 {
  font-size: 140px;
  text-align: center;
  margin-top: 8%;
  color: white;
}

.gen-p {
  font-size: 20px;
  text-align: center;
  color: white;
}

.gen-div {
  background-color: #13bd90;
  padding-bottom: 50px;
  padding-top: 10px;
}

.gen-img {
  margin-top: 7vh;

}

.header-gen {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
}