.center-font {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: inherit;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
}

.home-height {
  min-height: 60vh;
}

.Home-color {
  /* background-color: #06D6A0; */
  background-color: #06a87d; 
}

.Home-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

@media (prefers-reduced-motion: no-preference) {
  #GenPL {
    background-color: #06D6A0;
    border: none;
    border-radius: 20px;
    height: 100px;
    width: 350px;
    letter-spacing: .15rem;
    color: white;
    font-size: 18px;
    font-family: Arial;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px #1DB954;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    animation: spin-btn infinite 0.1s linear;
  }
}

#login-bt {
  /* background-color: #06a87d; */
  /* background-color: #1db954; */
  border: none;
  border-radius: 50px;
  height: 6vh;
  width: 200px;
  font-size: 0.5em;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 2vh, 3vh;
  font-weight: bold;
}


.divider {
  padding-top: 5vh;
  margin-left: 25%;
  margin-right: 25%;
}

@keyframes spin-btn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
